

#medecin{

    background-image: url(image/Une-situation-de-crise-faute-de-soignants-l-hopital-de-Mulhouse-enclenche-le-Plan-blanc.jpg);
}

#patient{

    background-image: url(image/i106918-ecole-hopital.webp);
}

#consultation{

    background-image: url(image/istockphoto-1254958416-612x612.jpg);
    
}

#prescription{

    background-image: url(image/pharmacie_pres_521x293_0.png);
    
}